.rds-hero {
  margin-top: -100px;
  padding: 100px 0 0px;
  border-radius: 0 0 10px 10px;
  background-color: $primary-black;
  color: $white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;

  /* background image */
  background-image: url("/static/img/hero-background.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media only screen and (min-width: 1000px) and (max-width: 1000px) {
    padding-left: 30px;
    padding-right: 30px;

    .row {
      flex-wrap: nowrap;
    }

    .col--7 {
      min-width: 1500px;
    }

    .col--5 {
      flex: 1 !important;
      max-width: none !important;
    }
  }

  @include mobile {
    padding: 71px 0 62px;
  }

  .row {
    align-items: center;

    .col {
      @include tablet-mobile {
        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
        }
      }
    }
  }

  .hero-title {
    margin-top: 100px;
    line-height: 1.1;
    font-size: 50px;
    font-weight: 600;

    @include tablet-mobile {
      text-align: center;
    }

    @include mobile {
      line-height: 1.25;
      font-size: 32px;
    }
  }

  .hero-subtitle {
    margin: 17px 0 0 0;
    line-height: 2.0;
    font-size: 18px;
    font-weight: 400;
    color: $grey;

    @include tablet-mobile {
      text-align: center;
    }

    @include mobile {
      margin-top: 13px;
      font-size: 14px;
    }
  }

  .boxes {
    display: flex;
    margin-top: 100px;

    @include mobile {
      flex-direction: column;
      margin-top: 36px;
    }

    .box {
      flex: 1;
      max-width: 25vh;
      position: relative;
      border: 1px dashed $purple;
      border-radius: 10px;
      background-color: $secondary-black;
      transition: background-color .2s ease-in-out;

      @include mobile {
        margin: 0 auto;
        max-width: 282px;
      }

      &:hover {
        background-color: $purple;
      }

      &:not(:first-child) {
        @include desktop-tablet {
          margin-left: 12px;
        }

        @include mobile {
          margin-top: 25px;
        }
      }

      .bg {
        display: none;
        position: absolute;
      }

      &.box-create .bg {
        top: 900px;
        left: 520px;
      }

      &.box-develop .bg {
        top: 900px;
        left: 520px;
      }

      &.box-explore .bg {
        top: 900px;
        left: 520px;
      }


      &.box-operate .bg {
        top: 900px;
        left: 520px;
      }

      .text {
        padding: 21px 16px 23px 21px;

        @include mobile {
          padding-bottom: 25px;
        }

        .title {
          margin: 0;
          line-height: 1.5;
          font-size: 18px;
          font-weight: 600;
          font-family: $nunito;

          @include mobile {
            text-align: center;
            line-height: 1.2;
            font-size: 22px;
          }
        }

        .description {
          margin: 10px 0 0 0;
          line-height: 1.5;
          font-size: 14.5px;
          color: $grey;

          @include mobile {
            margin-top: 10px;
            text-align: center;
            line-height: 1.6;
            font-size: 16px;
          }
        }

        .more {
          display: flex;
          align-items: center;
          margin-top: 14px;
          line-height: 1.2;
          font-size: 14.5px;
          font-weight: 700;
          color: $purple;

          @include mobile {
            justify-content: center;
            font-size: 16px;
          }

        }
      }

      &:hover .text .more svg path {
        fill: $white;
      }

      .link {
        z-index: 5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        text-indent: -9999px;
        cursor: pointer;
      }
    }
  }
}
