$primary-blue: #161f31;
$secondary-blue: #6167b0;
$red: #dc382c;
$white: #ffffff;
$black: #000000;
$primary-black: #000;
$secondary-black: #1a1a1a;
$zircon: #f8faff;
$grey: #808080;
$grey-light: #e0dfdf;
$grey-dark: #c2c0c0;
$purple: #6167b0;
$purple-hover: #6167b0;
$purple-light: #f2f5fe;
$purple-lighter: #f9faff;

$lato: "Lato", sans-serif;

$roboto: "Roboto Mono", monospace;

$nunito: "Nunito Sans";

:root {
  --chill: #e3ebed;
  --ui: #dfdfdf;
  --primary-blue: #6167b0;
  --secondary-blue: #6167b0;
  --red: #dc382c;
  --white: #ffffff;
  --black: #000000;
  --primary-black: #000;
  --secondary-black: #1a1a1a;
  --zircon: #f8faff;
  --grey: #808080;
  --grey-light: #e0dfdf;
  --grey-dark: #c2c0c0;
  --violet: #3e41a0;
  --purple: #6167b0;
  --purple-hover: #6167b0;
  --purple-light: #f2f5fe;
  --purple-lighter: #f9faff;
  --grey-bg-light: #f5f5f5;
  --grey-bg-dark: #000;
}

/* dark mode */

@mixin dark {
  html[data-theme="dark"] & {
    @content;
  }
}

/* media queries */
@mixin desktop {
  @media only screen and (min-width: 997px) {
    @content;
  }
}

@mixin desktop-tablet {
  @media only screen and (min-width: 751px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 751px) and (max-width: 996px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media only screen and (max-width: 996px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 750px) {
    @content;
  }
}
